@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* font size*/
h1{
    font-size: 1.5rem;
}

h3{
    font-size: 1rem;
    font-weight: normal;
}

.SubNav a{
    font-size: 1rem;
}


body{
    font-family: 'Roboto', sans-serif;
    /* margin: 0; */
}

/* reset */
.NavBlock{
    background-color:  #264d73;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    /* margin: auto; */
    
}

.NavBlock a{
    color: #FFF;
    text-decoration: none;
    padding: 15px;
}

.Main{
    background-color:  #009999;
    text-align: center;
    color: #FFF;
    margin:auto;
    padding: 25px;
}

.Profile img{
    margin: 15px 0px 0px 0px;
    border-radius: 1000px;
    width: 300px;
}

.tag{
    display: flex;
    justify-content: center;
    align-items: center;

}

.line{
    background: #FFF;
    height: 4px;
    width: 200px;
    border-radius: 1000px;
}

.tag img{
    margin: 0px 15px;
    
}

/* Screen change */
@media screen and (max-width: 600px) {

    .SubNav{
        display: none;
    }
    
    .NavBlock{
        justify-content: center;
    }

    .Profile img{
        width: 100px;
    }

    .tag img{
        height: 25px;
        width: 25px;
    }

    .line {
        height: 2px;
        width: 50px;
    }

    h1{
        font-size: 1rem;
    }

    h3{
        font-size: 0.6667rem;
        font-weight: normal;
    }   

    .SubNav a{
        font-size: 0.6667rem;
    }
}
        